.footer__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.button {
	font-size: larger;
	cursor: pointer;
	margin-top: 2.8rem;
	transition: all 0.5s ease-in-out;
}

.button:hover {
	transform: scale(1.5);
}
