.heading__wrapper {
	font-size: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	-webkit-animation: breathing 5s ease-out infinite normal;
	animation: breathing 5s ease-out infinite normal;
	-webkit-font-smoothing: antialiased;
	color: white;
}
.subheading {
	font-size: 1.5rem;
}

@-webkit-keyframes breathing {
	0% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}

	25% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	60% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}

	100% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}

@keyframes breathing {
	0% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}

	25% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	60% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}

	100% {
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
}
